body {
    background: #f5f6fa;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 700;
}

.js-plotly-plot, .plot-container {
    min-height: 800px !important;
}

div.dash-graph {
    border-radius: 10px;
}
